* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: x-large;

}

body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-pass {

    color: rgb(94, 92, 90);
    font-size: x-large;
    text-align: center;
}

.password-text {

    padding: 5px;
    background-color: rgb(69, 66, 66);
    border: none;

    color: aliceblue;
    font-size: 32px;
    margin: 0 0 0 24px;
    width: 100%;

}

.other-half {
    background: rgb(69, 66, 66);
    margin-top: 10px;
    padding: 24px;
}

h2 {
    font-size: large;
    color: aliceblue;
}

button {

    all: unset;
}

.list input[type="checkbox"] {
    width: 20px;
    height: 20px;

}

.output {
    display: flex;
    justify-content: space-between;
    background-color: rgb(69, 66, 66);

}

.main-container {
    background: black;
    align-items: center;
    width: 100%;
    max-width: 700px;


}

.icon {


    padding-top: 4px;
    width: 28px;
    height: 28px;
    margin-right: 24px;
    cursor: pointer;




}

.list {
    list-style: none;
    color: aliceblue;
    padding: 0;


}

.list input[type=checkbox] {
    margin-right: 7px;
    margin-left: 0;
}

.strength {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    background-color: rgb(69, 66, 66);
    color: aliceblue;
    background-color: rgb(32, 28, 28);
    align-items: center;

}

.boxes {
    margin-right: 24px;
}

span {
    border: 2px solid aliceblue;
    padding: 1px 5px;
    margin: 2px;


}

.button-generate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    background: rgb(0, 255, 89);

}

.button-generate:hover {
    background-color: rgb(67, 219, 118);
}

.slider {
    width: 100%;
    max-width: 700px;
    appearance: none;
    border-radius: 10px;
    background-color: black;
    height: 5px;

}

.arrow {
    border: none;


}

.row span {
    border: none;
    color: rgb(0, 255, 89);
    font-size: 30px;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-between;
    b
}